* {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: $desktop;
  margin: 0 auto;
}

.texto-terciario {
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: bold;
}
.texto-primario {
  font-size: 60px;
  font-weight: bold;
  padding: 30px 0 30px 0;
}
.texto-secundario {
  font-size: 24px;
  padding-bottom: 50px;
}
.header-bg {
  background: #000;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include device(desktop) {
      height: 80px;
    }
    nav {
      ul {
        display: flex;
        flex-direction: row;

        li {
          a {
            color: #fff;
            padding: 31.5px 17px;
            font-weight: bold;
            &:hover {
              color: #1ed760;
            }
          }
          .texto-color {
            color: #d9dadc;
          }
        }
        .separador {
          background: #fff;
          width: 1px;
          margin: auto 17px;
        }
      }
    }
  }
}

.intro-bg {
  background: #96f0b6;
  .intro {
    display: flex;
    padding: 70px 0 70px 0;
    .texto {
      color: #202f72;

      a.btn-intro {
        padding: 14px 32px;
        background: #1a275e;
        color: #96f0b6;
        border-radius: 500px;
        font-weight: bold;
      }
      p {
        font-size: 12px;
        padding-top: 50px;
        a {
          text-decoration: underline;
        }
      }
    }
    .imagem {
      padding-top: 40px;
    }
  }
}

.restrospectiva-bg {
  color: #202f72;
  background: #f46ebe;

  .restrospectiva-wrapper {
    background: url(../img/wrapper-bg.svg) no-repeat;
    background-position: right -1163px bottom -513px;
    .restrospectiva-info {
      padding: 70px 0 64px 0;
      h2 {
        padding-bottom: 30px;
      }
      .restrospectiva-call {
        padding-bottom: 30px;
        a:first-child {
          margin-right: 30px;
        }
      }
      .texto-callback {
        text-decoration: underline;
        color: #202f72;
      }
    }
  }
}

.spotify-free-bg {
  background: #2941ab;
  color: #1ed760;
  .spotify-free-bg-circles {
    background: url(../img/circles.svg) no-repeat;
    .spotify-free {
      padding: 70px 0 230px 0;
      .btn-spotify-free {
        color: #2941ab;
        background: #1ed760;
        border-radius: 500px;
        padding: 14px 32px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

.footer-bg {
  background: #000;
  .footers {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    .footer-top {
      display: flex;
      justify-content: space-between;
      h4 {
        color: #919496;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.96px;
        font-weight: 900;
        margin: 20px 0;
      }

      .footer-empresa ul li + li,
      .footer-comunidades ul li + li,
      .footer-links ul li + li {
        padding-top: 9px;
      }
      ul {
        li {
          a {
            color: #fff;
            &:hover {
              color: #1ed760;
            }
          }
        }
      }

      .footer-redes-sociais {
        ul {
          display: flex;
          align-items: center;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 54px;
            height: 54px;
            background: #222326;
            border-radius: 50%;
            font-size: 24px;
            margin-left: 20px;
            &:hover {
              color: #1ed760;
            }
          }
        }
      }
    }

    .footer-medium {
      padding-top: 60px;
      .footer-medium-cont {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
        a {
          color: #919496;
          font-size: 14px;
          i {
            margin-right: 10px;
          }
        }
      }
    }

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #919496;
      font-size: 12px;
      ul {
        display: flex;
        padding: 15px 0;
        li {
          a {
            color: #919496;
            &:hover {
              color: #1ed760;
            }
          }
        }
        li + li {
          margin-left: 15px;
        }
      }
    }
  }
}
